{% extends 'base.html' %}


{% block content %}


  <header>
    <h1>Welcome to Prime Time Luxury Car Dealership</h1>
  </header>
  
  <section>
    <h2>Featured Cars</h2>
    <div>
      <div>
        <img src="../../static/images/2021-mercedes-maybach-gls-117-1606857818.jpg" alt="Maybach Mercedes">
        <h3>Car 1</h3>
        <p>Year: 2023</p>
        <p>Make: Mercedes</p>
        <p>Model: GLS Mayback</p>
        <p>Price: $350,000</p>
      </div>
      <div>
        <img src="../../static/images/aston_martin.jpg" alt="aston martin">
        <h3>Car 2</h3>
        <p>Year: 2023</p>
        <p>Make: Aston Martin</p>
        <p>Model: DB11</p>
        <p>Price: $270,000</p>
      </div>
      <div>
        <img src="../../static/images/gwagon.webp" alt="g-wagon">
        <h3>Car 3</h3>
        <p>Year: 2023</p>
        <p>Make: Mercedes</p>
        <p>Model: G-Wagon</p>
        <p>Price: $170,000</p>
      </div>
      <div>
        <img src="../../static/images/jdm-toyota-land-cruiser.webp" alt="land cruiser">
        <h3>Car 4</h3>
        <p>Year: 2023</p>
        <p>Make: Toyota</p>
        <p>Model: Landcruiser</p>
        <p>Price: $150,000</p>
      </div>
    </div>
  </section>
  
  <footer class="row" id="footer">
    <div class="col-2">
        <img src="../../static/images/Coding Cars Logo.png" alt="Coding Cars Logo" id="footer-logo">
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Luxury Cars?</p>
            <p>The Coding Cars Project</p>
            <p>Donate</p>
            <p>Spread The Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Luxury Cars?</p>
            <p>The Coding Cars Project</p>
            <p>Donate</p>
            <p>Spread The Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Luxury Cars?</p>
            <p>The Coding Cars Project</p>
            <p>Donate</p>
            <p>Spread The Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Luxury Cars?</p>
            <p>The Coding Cars Project</p>
            <p>Donate</p>
            <p>Spread The Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Luxury Cars?</p>
            <p>The Coding Cars Project</p>
            <p>Donate</p>
            <p>Spread The Word</p>
            <p>Our Process</p>
        </div>
    </div>
</footer>
</div>

{% endblock content %}
